<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tareas</title>

    <link rel="stylesheet" href="../static/css/Task.css">
</head>
<body>
    <script src="../static/js/Task.js"></script>

    <div class="container">

        <header>
            <h1>Gestión de Tareas</h1>
            <button class="btn-primary">+ Nueva tarea</button>
        </header>

        <div class="filters">
            <input type="text" placeholder="Buscar tarea...">

            <select>
                <option>Todos los estados</option>
                <option>Pendiente</option>
                <option>En proceso</option>
                <option>Completada</option>
            </select>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha límite</th>
                    <th>Estado</th>
                    <th>Responsable</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Diseño Login</td>
                    <td>Crear interfaz de inicio de sesión</td>
                    <td>05/06/2026</td>
                    <td>
                        <span class="status process">
                            En proceso
                        </span>
                    </td>
                    <td>Dayron</td>
                    <td>
                        <button class="btn-edit">Editar</button>
                        <button class="btn-delete">Eliminar</button>
                    </td>
                </tr>

                <tr>
                    <td>Base de datos</td>
                    <td>Crear tablas principales</td>
                    <td>03/06/2026</td>
                    <td>
                        <span class="status complete">
                            Completada
                        </span>
                    </td>
                    <td>Andrés</td>
                    <td>
                        <button class="btn-edit">Editar</button>
                        <button class="btn-delete">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>